[run]
source = src/
omit =
    */tests/*
    */config.py
    */__pycache__/*
    *.pyc
concurrency = threading
parallel = True

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    if typing.TYPE_CHECKING:
    @overload
ignore_errors = True
precision = 2

[html]
directory = coverage_html
title = XIAO ESP32-S3 Coverage Report
